.gallery {
  margin: 0 auto;
  max-width: 1034px;
}

.gallery.horizontal {
  max-width: none;
  white-space: nowrap;
}

.gallery.horizontal .gallery-img-wrapper {
  margin-left: 10px;
}

.gallery:not(.horizontal) .gallery-img-wrapper {
  float: left;
  margin-bottom: 10px;
}

.gallery:not(.horizontal) .gallery-img-wrapper:nth-child(2n) {
  margin-left: 10px;
}
